<!DOCTYPE html>
<html>
<head>
  <title>CMPT276_A2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Display", image_display_path %></li>
    </ul>
<%= yield %>
  </div>
</body>
</html>
